<% @header_tag = @is_root ? "h1" : "h2" %>
<div class="page_header">
  <<%= @header_tag %> class="logo">
    <a href="/" title="home">Tim Ruffles</a>
    <span class="sub_title">Coding, business, design & laundry.</span>
  </<%= @header_tag %>>
</div>