<% @header_tag = @is_root ? "h1" : "h2" %>
<header>
  <<%= @header_tag %> id=header>
    <a href="/">
      Developer Training - Tim Ruffles
    </a>
  </<%= @header_tag %>>

  <nav>
    <a href=https://www.twitter.com/timruffles
       >
      @timruffles
    </a>
    <a href=/me>
      Me
    </a>
    <a href=/developer-training>
      Training
    </a>
  </nav>
</header>
