<div class="posts">
  <% @all.each_slice(4) do |articles| %>
    <div class=chunk>
    <% articles.each do |article| %>
      <a href="<%= article.link %>" class=post title="<%= article.title %>">
        <h4>
          <%= article.title %>
        </h4>
        <span class=date><%= article.date.strftime("%-e %b '%y") %></span>
      </a>
    <% end %>
    </div>
  <% end %>
</div>
