<div class="posts">
  <% @all[0..9].each do |articles| %>
    <% articles.each do |article| %>
      <a href="<%= article.link %>" class=post title="<%= article.title %>">
        <h4>
          <%= article.title %>
        </h4>
        <span class=date><%= article.date.strftime("%-e %b '%y") %></span>
      </a>
    <% end %>
  <% end %>
</div>
