<h2 class="definition">dil·et·tant·ism</h2>
<p>Occasional essays on coding, business, maths & design.</p>
<% @articles_by_category.each do |category, articles| %>
  <h3>
    <%= category %>
  </h3>
  <% articles.each do |article| %>
    <h4>
      <a href="<%= article.link %>"><%= article.title %></a>
    </h4>
  <% end %>
<% end %>