<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>
      <%= @title %>
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" type="text/css">
  </head>
  <body>
    <div id="content" class="reading">
      <div class="page_header">
        <h1 class="logo">
          <a href="/" title="home">dil·et·tant·ism</a>
          <span class="sub_title">Tim Ruffles</span>
        </h1>
      </div>
       <div id="body">
          <%= yield %>
        </div>
    </div>
    <div id="mast">
      <div class="reading">
        <div class="links logical">
          <div class="navigation logical">
            <a href="/">Home</a>
            <a href="/contents">Contents</a>
            <a href="/me">Me</a>
          </div>
          <div class="chapters logical">
            <a href="/">Business</a>
            <a href="/">Learning</a>
            <a href="/">Code</a>
            <a href="/">Remarks</a>
          </div>
          <div class="search logical">
            <a href="https://www.google.com/search?as_sitesearch=www.dilettantism.co.uk">Search</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer reading">
      <div class="container">
        <p><a xmlns:cc="http://creativecommons.org/ns#" href="truffles.me.uk" property="cc:attributionName" rel="cc:attributionURL">Writing</a> on <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">truffles.me.uk</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>
        <p><a href="https://github.com/timruffles/truffles.me">Source code</a> of the blog. Ad-hoc but flexible (in the sense of having little code, rather than an implementation of the visitor pattern).
        </p>
      </div>
    </div>
  </body>
</html>
