<article>
  <svg viewBox="0 0 75 40" preserveAspectRatio="xMinYMin meet" class="top left">
    <polygon 
      points='0 40  75 0  75 40'
    ></polygon>
  </svg>

  <div class=content>
    <h2>I'm sure I put that here</h2>
    <p><a href="https://www.google.com/search?as_sitesearch=www.truffles.me.uk">Have a search</a>. It's Google aimed at this site, and there's not much the Big G misses.</p>
    <blockquote>And even if by chance he were to utter the final truth, he would not know it: for all is but a woven web of guesses.</blockquote>
    <p>Xenophanes</p>
  </div>

</article>
