<div class="sidebar">
  <h3>
    <a href="/">Home</a>
  </h3>
  <ul>
    <li>
      <a href="#part/i">Part I. Introduction</a>
    </li>
    <li>
      <a href="#part/ii">Part II. Developing with CouchDB</a>
    </li>
    <li>
      <a href="#part/iii">Part III. Example Application</a>
    </li>
    <li>
      <a href="#part/iv">Part IV. Deploying CouchDB</a>
    </li>
    <li>
      <a href="#part/v">Part V. Reference</a>
    </li>
    <li>
      <a href="#part/vi">Part VI. Appendix</a>
    </li>
  </ul>
</div>