<div class=footer>
  <p class=subscribeHint>Enjoyed this? Get more like it in your email!</p>
  <form class=subscribe>
    <input type=email placeholder=ilike@javascript.com>
    <input type=submit value=Subscribe>
  </form>
</div>

<% if @article.previous || @article.next %>
  <div class=footer>
    <% if @article.previous %>
      <p class=nav>
        Previous: <a href="<%= @article.previous.link %>">
          <%= @article.previous.title %>
        </a>
      <p>
    <% end %>

    <% if @article.next %>
      <p class=nav>
        Next: <a href="<%= @article.next.link %>">
          <%= @article.next.title %>
        </a>
      </p>
    <% end %>
  </div>
<% end %>

