*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* typography */
body {
    font-size: 18px;
}
@media (max-width: 600px) {
    body {
        font-size: 18px;
        line-height: 1.4;
    }
}

p {
    line-height: 1.35em;
}
h1 {
    margin-top: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

body, input[type=text], input[type=submit] {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#body h1 {
    font-size: 2em;
    line-height: 1.25em;
}

.sub_title {
    font-size: 0.4em;
}

/* typographical layout */
.footer, .article #content, .reading {
    width: 42rem;
    margin: 0 auto;
    padding: 0 0.5rem;
}
@media (max-width: 600px) {
    .footer, .article #content, .reading {
        width: auto;
        padding: 0 1rem;
    }
}

h1 {
    margin: 0.5rem 0 1.5rem 0;
}
@media (max-width: 600px) {
    h1 {
        margin: 0 0 0.25rem 0;
    }
}

/* links */
a {
    color: #FF7C14;
    text-decoration: none;
}
a:link, a:visited {
    color: #FF7C14;
    text-decoration: none;
}
a:hover, a:active, a:focus {
    text-decoration: underline;
}

h1 a, h2 a, h3 a, h4 a {
    color: #000;
}
h1 a:active, h1 a:visited, h1 a:hover, h1 a:link, h1 a:focus, h2 a:active, h2 a:visited, h2 a:hover, h2 a:link, h2 a:focus, h3 a:active, h3 a:visited, h3 a:hover, h3 a:link, h3 a:focus, h4 a:active, h4 a:visited, h4 a:hover, h4 a:link, h4 a:focus {
    color: #000;
    text-decoration: none;
}

.summary {
    padding: 1em 1em;
    background: #FFF7F7;
    margin: 0 0 1em 0;
}
.summary h3 {
    margin: 0 0 1em 0;
}

ul ul {
    padding: 1em;
}

/* layout */
body {
    overflow: auto;
}
#mast {
    width: 100%;
    padding: 0.6em 0 0 0;
}
#mast a {
    color: #888;
    -webkit-transition: all 0.4s;
}
#mast a:hover {
    color: #222;
}
#mast .chapters {
    font-size: 0.8em;
}

.top-bar {
    overflow: auto;
}
.top-bar .author {
    display: block;
    float: right;
}

.footer {
    clear: both;
}

.sub {
    font-size: 0.7em;
    font-style: italic;
}

.minor {
    font-size: 0.8em;
}

.break {
    margin: 0 0 0 1em;
}

.logical {
    display: inline;
}

#mast {
    background: url(../img/mast.png) 0 0 repeat-x;
}
#mast a {
    padding: 0.15em 0.3em;
}
#mast a:first-child {
    padding-left: 0;
}
#mast ul {
    padding: 0;
    margin: 0;
}
#mast ul li {
    list-style-type: none;
    float: left;
    margin: 0 0.5em;
}

.root .sub_title {
    display: block;
}

#content code {
    white-space: pre-wrap;
}

pre {
    font-size: 1rem;
    margin-bottom: 1rem;
    white-space: pre-wrap;
}
@media (min-width: 600px) {
    pre {
        font-size: 1em;
        padding: 0.5em 1em;
    }
}

.plug {
    border: 1px solid #adc5ff;
    padding: 0.25rem 0.5rem;
    margin-top: 4ex;
}
@media (min-width: 600px) {
    .plug {
        padding: 0.5rem 1rem;
    }
}

details[open] {
    padding-left: 2em;
}

details[open] summary {
    position: relative;
    left: -2em;
}

#comments h3 {
    margin-top: 0.5em;
}
#comments input[type=text] {
    width: 95%;
    padding: 0.25em;
}
#comments input[type=text], #comments textarea {
    font-size: 1em;
}
#comments textarea {
    width: 100%;
}

@media (min-width: 600px) {
    .posts {
        position: relative;
        left: -6px;
    }
}
.posts h4 {
    margin: 0;
    margin-right: 1em;
}
.posts a[href] {
    color: #000;
    text-decoration: none;
}
.posts .date {
    font-size: 0.7em;
    color: #aaa;
}
.posts .post {
    display: block;
    width: 42rem;
    margin: 0 auto;
    padding: 0 0.5rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-left: 0.25rem solid #00c0ff;
    padding-left: 0.25rem;
    margin-bottom: 6px;
}
@media (max-width: 600px) {
    .posts .post {
        width: auto;
        padding: 0 1rem;
    }
}
.posts .post:hover {
    background: #00c0ff;
    color: #fff;
}
.posts .post:hover .date {
    color: #fff;
}
@media (min-width: 600px) {
    .posts .post {
        border-left: 6px solid #00c0ff;
        padding-left: 0.7rem;
    }
}
.posts .post:nth-child(2n) {
    border-color: #ff7c14;
}
.posts .post:nth-child(2n):hover {
    background: #ff7c14;
}
.posts .post:nth-child(3n):hover, .posts .post:nth-child(4n):hover {
    color: #000;
}
.posts .post:nth-child(3n):hover .date, .posts .post:nth-child(4n):hover .date {
    color: #000;
}
.posts .post:nth-child(3n) {
    border-color: #FFFF06;
}
.posts .post:nth-child(3n):hover {
    background: #FFFF06;
}
.posts .post:nth-child(4n) {
    border-color: #a7ff2a;
}
.posts .post:nth-child(4n):hover {
    background: #a7ff2a;
}

.post_mortem li, .key li {
    list-style-type: none;
}
.post_mortem .why, .key .why {
    padding-left: 2em;
}
.post_mortem .yes, .key .yes {
    background: #FFF7ED;
}
.post_mortem .no, .key .no {
    color: #444;
}
.post_mortem .na, .key .na {
    background: #E9E9E9;
}

.story {
    padding: 1em;
    overflow: auto;
    margin-bottom: 1em;
}
.story p {
    float: left;
    width: 24em;
    margin-bottom: 0;
}

.bad {
    background: #F8C6AF;
}

.good {
    background: #C0F8AF;
}

.smiley {
    font-family: "Helvetica";
    font-size: 4em;
    float: left;
    width: 1em;
}

.footnotes {
    font-size: 0.9em;
    color: #333;
}

.twitter-tweet {
    width: 100%;
    white-space: normal;
    margin: 0;
}

#content img, #content video, #content iframe {
    /* scale the image proportionally, but never larger than container */
    max-width: 100%;
    height: auto;
}

blockquote p {
    margin: 0;
    white-space: normal;
}
