/* reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section
  margin: 0
  padding: 0
  border: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit
  vertical-align: baseline

article, aside, dialog, figure, footer, header, hgroup, nav, section
  display: block

body
  line-height: 1.5

table
  border-collapse: separate
  border-spacing: 0

caption, th, td
  text-align: left
  font-weight: normal

table, td, th
  vertical-align: middle

blockquote
  &:before, &:after
    content: ""

q
  &:before, &:after
    content: ""

blockquote, q
  quotes: "" ""

a img
  border: none

/* typography */

body
  font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif

input
  &[type="text"], &[type="submit"]
    font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif

.search
  font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif

html
  font-size: 100.01%

h1, h2, h3, h4, h5, h6
  font-weight: normal
  color: #000

h1
  font-size: 3em
  line-height: 1
  margin-bottom: 0.5em

h2
  font-size: 2em
  margin-bottom: 0.75em

h3
  font-size: 1.5em
  line-height: 1
  margin-bottom: 1em

h4
  font-size: 1.2em
  line-height: 1.25
  margin-bottom: 1.25em

h5
  font-size: 1em
  font-weight: bold
  margin-bottom: 1.5em

h6
  font-size: 1em
  font-weight: bold

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img
  margin: 0

p
  margin: 0 0 1.5em
  img
    &.left
      float: left
      margin: 1.5em 1.5em 1.5em 0
      padding: 0
    &.right
      float: right
      margin: 1.5em 0 1.5em 1.5em

a
  &:focus, &:hover
    color: #000
  color: #009
  text-decoration: underline

blockquote
  margin: 1.5em
  color: #666
  font-style: italic

strong
  font-weight: bold

em
  font-style: italic

dfn
  font-style: italic
  font-weight: bold

sup, sub
  line-height: 0

abbr, acronym
  border-bottom: 1px dotted #666

address
  margin: 0 0 1.5em
  font-style: italic

del
  color: #666

pre, code, tt
  font: 0.8em 'andale mono', 'lucida console', monospace
  line-height: 1.5

li
  ul, ol
    margin: 0

ul, ol
  margin: 0 1.5em 1.5em 0
  padding-left: 3.333em

ul
  list-style-type: disc

ol
  list-style-type: decimal

dl
  margin: 0 0 1.5em 0
  dt
    font-weight: bold

dd
  margin-left: 1.5em

table
  margin-bottom: 1.4em
  width: 100%

th
  font-weight: bold

thead th
  background: #c3d9ff

th, td, caption
  padding: 4px 10px 4px 5px

tr.even td
  background: #e5ecf9

tfoot
  font-style: italic

caption
  background: #eee

/* decoration */

body
  font-size: 100%
  color: #000

/* links */

a
  color: #c52925
  text-decoration: none
  &:link, &:visited
    color: #c52925
    text-decoration: none
  &:hover, &:active, &:focus
    text-decoration: underline
    
.summary
  padding: 1em 1em
  background: #FFF7F7
  margin: 0 0 1em 0
  
  h3
    margin: 0 0 1em 0 
    
ul
  padding: 0
  ul
    padding: 1em

.post_mortem, .key
  li 
    list-style-type: none
  .why
    padding-left: 2em
  .yes
    background: #FFF7ED
  .no
    color: #444
  .na
    background: #E9E9E9

.page_header
  margin: 4em 0
  background: url(../img/colophon_small.png) no-repeat top right
  height: 10em
  width: 31em
  
.column
  float: left
  width: 45%
  font-size: 0.8em
  margin-right: 5%
  
.footer
  clear: both
  
.sub
  font-size: 0.7em
  font-style: italic
  
#mast
  padding: .6em 0
  a
    font-weight: 100
    color: #888
    -webkit-transition: all .4s
  a:hover
    color: #222
  .chapters
    font-size: .8em

      
.footer .container
  font-size: .8em

#body
  position: relative
  top: -6em

/* layout */

.reading
  width: 30em
  margin: 0 auto
.minor
  font-size: 0.8em
.break
  margin: 0 0 0 1em
#content

.logical
  display: inline
  
#footer
  display: none
.sub_title
  font-size: .4em
#mast
  position: absolute
  top: 0
  width: 100%
  background: url(../img/mast.png) 0 0 repeat-x
  a
    padding: .15em .3em
  ul 
    padding: 0
    margin: 0
    li
      list-style-type: none
      float: left
      margin: 0 .5em
      
#fb-root
  border-top: 1px dotted #444
  height: 2em

@media screen and (max-device-width: 680px), screen and (max-width: 680px)


@media screen and (max-device-width: 680px), screen and (max-width: 680px)
  .wrap
    background-position: 50% -3.5em
    padding: 24em 1.5em 1.5em 1.5em
